@import '//at.alicdn.com/t/font_772287_9vb8nrkh2ul.css';

.el-menu .el-menu-item{
    font-size: 14px;
}
html {
}
body {
    /* font-family: Helvetica, Arial, "PingFang SC", "Noto Sans", Roboto, "Microsoft Yahei", sans-serif!important; */
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
    letter-spacing: .03em;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background: #e5e5e5!important;
    color: #333333!important;
    padding-top: 65px!important;
    letter-spacing: .03em;
}

.header_menu .el-menu--horizontal>.el-menu-item{
    height: 50px!important;
    line-height: 50px!important;
}
.ivu-card-body {
    padding: 0!important;
}
.header_menu .el-menu--horizontal>.el-menu-item.is-active{
    color:#409EFF!important;
}
.page-enter-active, .page-leave-active {
    transition: opacity .5s, transform .4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    opacity: 1;
}
.page-enter, .page-leave-active {
    opacity: 0.5;
    transform: rotateY(100deg);
}
.ivu-card-head {
    padding: 6px 16px!important;
    border-bottom-color: #eee;
    color: #777;
    background: #fafafa;
}
.index_content{
    width: 1200px;
    margin: 0 auto;
}
.index_ad .ivu-card{
    background-color: #ffffff;
    padding: 15px;
    border-radius:2px; 
}
.el-menu--horizontal>.el-menu-item{
    border: none;
}
.el-menu--horizontal>.el-menu-item:hover{
    background-color: #f9f9f9;
}
.topics_nodetype .el-menu--horizontal{
    border: none;
}
.topics_nodetype .el-menu{
    background-color: #f9f9f9;
    margin-top: 8px;
}
.topics_nodetype .el-menu li:hover{
    background-color: #f9f9f9;
}
.topics_nodetype .ivu-menu-light{
    background-color: #f9f9f9;
}
.topics_nodetype .ivu-menu-horizontal .ivu-menu-item, .ivu-menu-horizontal .ivu-menu-submenu {
    float: left;
    padding: 0 5px;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    z-index: 3;
    transition: all .2s ease-in-out;
}
.topics_nodetype .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover {
    color: #2d8cf0;
    border-bottom: 2px dotted #2d8cf0!important;
}
.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item, .ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu{
    border: none;
}
.topics_allnode i{
    margin-left: 10px;
}
.login{
    width: 100%;
}
.login_content{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    padding: 90px 0px 40px 0px;
}
.login_logo{
    width: 50%;
    margin: 0 auto;
    position: relative;
}
.login_logo img{
    width: 200px;
    text-align: center;
}
.header{
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    color: #9CA4A9;
    font-size: 14px;
    z-index: 1;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.header_info{
    width: 1200px;
    margin: 0 auto;
    height: 50px;
}
.header_content{
    
    
    
    
}
.header_man{
    height: 55px;
}
.header_menu{
    display: flex;
}
.header_menu .el-menu--horizontal{
    border: none;
    height: 50px;
}
.header_menu .el-menu--horizontal>.el-menu-item:nth-child(1).is-active {
    border: none;
}
.header_menu .el-menu--horizontal>.el-menu-item:nth-child(1){
    border: none;
    color: #409EFF;
    font-size: 20px;
    font-weight: 700;
}
.header_logo{
    text-align: left;
    color: #409EFF;
    display: inline-block;
    width: 80px;
    color: #356DD0;
    font-weight: 700;
    font-size: 20px;
    vertical-align: middle;
    line-height: 100%;
    line-height: 55px;
}
.el-menu{
    flex: 1;  
}

.header_search{
    display: flex;
}
.header_search .iconfont{
    display: inline;
    width: 20px;
    font-size: 16px;
    line-height: 55px;
    color: #000000;
    font-weight: 700;
}
.header_search input{
    display: inline;
    flex: 1;
    border: 0px;
    outline: none;
    padding: 0px 5px!important;
    margin-top: 8px;
}
.header_notice,.header_create,.header_userinfo{
    text-align: center;
    width: 100%;
    display: inline-block;
    line-height: 55px;
}
.header_notice .iconfont,.header_create .iconfont,.header_userinfo .iconfont{
    color: #000000;
}
.footer{
    margin-top: 10px;
    margin-bottom: 0px!important;
    color: #9CA4A9;
    background-color: #FFFFFF;
    padding: 30px 0;
    font-size: 14px;
}
.footer_content{
    width: 1200px;
    margin: 0 auto;
}
.footer_logo{
    width: 100%;
}
.footer_logo img {
    width: 100%;
    position: relative;
    top: -14px;
}
.footer_desc div{
    line-height: 1.8;
}
.footer_desc .links{
    color: #ddd;
}
.footer_desc .links a{
    margin-right: 5px;
    color: #9CA4A9;
}
.footer_desc .links a:hover{
    color: #409EFF;
    border-bottom: 1px dashed #409EFF; 
}
.login_form{
    width: 450px;
    margin: 0 auto;
    padding: 20px 0px 10px 0px;
}
.login_form .el-input__inner{
    border-radius: 0;
}
.login_form  .el-button{
    width: 100%;
    border-radius: 0;
    margin-top: 20px;
}
.login_links a {
    font-size: 14px;
    color: #757575;
    text-decoration: none;
}
.login_title{
    font-size: 16px;
    margin: 10px 0px;
}
.login_third{
    margin-bottom: 30px;
}
.login_third button{
    width: 50px;
    text-align: center;
    margin: 0px 20px;
}
.login_third button i{
    font-size: 24px;
    text-align: center;
}
.login_third button:nth-child(1) i{
    color: #191717;
}
.login_third button:nth-child(2) i{
    color: #69d66a;
}
.login_third button:nth-child(3) i{
    color: #da6661;
}
.login_third button:nth-child(4) i{
    color: #6aabe8;
}
.login_footer{
    width: 100%;
    padding: 30px 0px;
    font-size: 14px;
    text-align: center;
}
.node_card .el-menu--horizontal>.el-menu-item.is-active{
    border-bottom: 2px solid #ffffff!important;
    color: #409EFF!important;
}
.node_card ul{
    height: 100%;
    padding: 13px 0px;
    width: 20%;
}
.node_card{
    padding: 0px 20px;
    width: 100%;
    display: flex;
    background-color: #FFFFFF;
    height: 40px;
    border-bottom: 1px solid #F0F0F0;
}
.node_card button{
    width: 60px;
    height: 100%;
    border: none;
}
.node_title{
    flex: 1;
    line-height: 40px;
}
.node_card .el-menu--horizontal{
    border: none;
}
.node_card .el-menu--horizontal>.el-menu-item{
    height: 15px;
    line-height: 15px;
    border-right: 1px solid #eee;
}
.node_card .el-menu--horizontal>.el-menu-item:last-child{
    border: none;
}
.index_topics .topics_list{
    display: flex;
    width: 100%;
    background-color: #ffffff;
    padding: 5px 10px;
    border-bottom: 1px solid #F0F0F0;
    vertical-align: top;
}
.index_topics .topics_list .user_avatar{
    width: 60px;
}
.index_topics .topics_list .user_avatar img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.index_topics .topics_list .topics_info{
    flex: 1;
}
.index_topics .topics_list .topics_count{
    width: 200px;
    line-height: 50px;
}
.index_topics .topics_list .topics_count span{
    margin-right: 10px;
    cursor: pointer;
}
.index_topics .topics_list .topics_count span i{
    margin-right: 5px;
}
.index_topics .topics_list .topics_info .title{
    font-size: 15px;
    color: #222!important;
    line-height: 25px;
    margin-bottom: 0;
}
.index_topics .topics_list .topics_info .title a{
    color: #222!important;
}
.index_topics .topics_list .topics_info .title a i{
    margin-left: 10px;
}

.index_topics .topics_list .topics_info .title a .icon-diamond{
    color: #EB5424;
}
.index_topics .topics_list .topics_info .title a .icon-sendo{
    color: #539A26;
}
.index_topics .topics_list .topics_info .title span{
    color: #777;
    margin-right: 3px;
}
.index_pagination{
    width: 100%;
    padding: 10px 10px;
    background-color: #FFFFFF;
}
.index_topics .topics_list .topics_info .info{
    color: #797776;
}
.index_topics .topics_list .topics_info .info a{
    text-decoration: underline;
    color: #797776;
}
.index_card .el-card{
    margin-bottom: 20px;
    border: none;
}
.index_card .el-card .el-card__header{
    padding: 12px 20px;
}
.index_card .el-card .el-card__body .item button{
    width: 100%;
    display: block;
}
.index_card .el-card .el-card__body .item button:last-child{
   margin: 20px 0px 0px 0px;
}
.card_info .el-card__body,.card_interested .el-card__body{
    padding: 0;
}
.card_info .el-card__body a{
    display: block;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}
.card_interested_list{
    display: flex;
    width: 100%;
}
.card_interested_list .avatar{
    width: 50px;
}
.card_interested_list .avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.card_interested_list{
    padding: 5px 20px;
}
.card_interested_list .info{
    flex: 1;
}
.card_interested_list .info span{
    display: block;
}
.card_interested_list .info span:nth-child(1){
    font-size: 14px;
    color: #000000;
}
.card_interested_list .info span:nth-child(2){
    font-size: 12px;
    color: #797776;
}
.sites{
    width: 1200px;
    margin: 20px auto;
}
.sites_list .el-card{
    margin-top: 20px;
    border: none;
}
.topics_replay .el-card{
    border: none;
}
.sites_list .el-card .el-card__header{
    background: #fafafa;
    padding: 6px 15px;
    border-bottom-color: #eee;
    color: #777;
}
.sites_list .el-card__body img{   
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}
.sites_list .el-card__body a{
    color: #777;
}
.sites_list .el-card__body .el-col{
    padding: 8px 0px;
    vertical-align: middle;
    line-height: 20px;
}
.topics_id{
    width: 1200px;
    margin: 20px auto;
}
.topics_content{
    width: 100%;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.topics_title{
    width: 100%;
    background-color: #fafafa;
    color: #777;
    display: flex;
    padding: 12px 15px;
    border-bottom:1px solid #eee;
}
.topics_title .title{
    flex: 1;
}
.topics_title .avatar{
    width: 60px;
}

.topics_title .avatar img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.topics_title .title span:first-child a{
    margin-top: 0;
    font-size: 20px;
    color: #333;
    text-align: left;
    line-height: 150%;
    display: block;
}
.topics_title .title span:last-child{
    display: block;
}
.topics_text{
    background-color: #ffffff;
    width: 100%;
    padding: 20px 20px;
}
.topics_replay{
    margin: 20px 0px;
}
.topics_replay .el-tabs__content{
    padding: 0!important;
}
.topics_replay .el-textarea .el-textarea__inner{
    border-radius: 0px;
    margin-top: 1px;
}
.topics_replay .el-tabs--border-card{
    border: none;
    box-shadow:none!important;
}
.el-tabs--border-card>.el-tabs__header {
    background-color: #ffffff;
    border: none;
    margin: 0;
}
.topics_replay .el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
    background-color: #d0d0d0;
    color: #999;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item:not(.is-disabled):hover {
    color: #999!important;
}
.topics_replay .el-tabs__item{
    height: auto;
    line-height: inherit;
    margin-right: 5px;
    background-color: #f0f0f0;
    font-size: 12px;
    padding: 2px 20px!important;
    margin-right: 10px!important;
    border: none!important;
    color: #999;
}
.topics_replay .el-tabs--border-card>.el-tabs__header {
    background-color: #ffffff;
    border: none!important;
    margin: 0;
}
.topics_replay .el-card__header{
    background: #fafafa;
    padding: 6px 15px;
    border-bottom-color: #eee;
    color: #777;
}
.replay_sumbit{
    margin-top: 10px;
    overflow: hidden;
}
.replay_sumbit a{
    float: right;
    line-height: 32px;
    color: #333;
}
.replay_sumbit button{
    float: left;
}
.replay_list{
    width: 100%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}
.replay_list .title{
    background: #fafafa;
    padding: 6px 15px;
    border-bottom: 1px solid #eee;
    color: #777;
}
.replay_list .list{
    width: 100%;
    background-color: #ffffff;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}
.replay_list .list:last-child{
    border: none;
}
.replay_list .list .user_repaly{
    width: 100%;
    display: flex;
}
.replay_list .list .user_repaly .avatar{
    width: 60px;
}
.replay_list .list .user_repaly .avatar img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.replay_list .list .user_repaly .usercontent{
    flex: 1;
}
.usercontent .info{
    display: flex;
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
}
.usercontent .info .name{
    width: 200px;
    line-height: 30px;
}
.usercontent .info .name a{
    color: #555;
}
.usercontent .info .options{
    flex: 1;
    text-align: right;
}
.usercontent .markdown {
    position: relative;
    letter-spacing: .03em;
    font-size: 15px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
.usercontent .info .options .el-badge{
    cursor: pointer;
    height: 30px;
    width: 30px;
    color: #999!important;
    background-color: #f8f9fa;
    margin-right: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 15px;
}
.usercontent .info .options .el-badge:last-child .iconfont:before{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); 	/* IE 9 */
    -moz-transform:rotate(180deg); 	/* Firefox */
    -webkit-transform:rotate(180deg); /* Safari å’Œ Chrome */
    -o-transform:rotate(180deg); 	/* Opera */
    display: inline-block;
}
.usercontent .info .options .el-badge:hover{
    background-color: #dedede;
}
.usercontent .info .options .el-badge .el-badge__content{
    padding: .1rem .4rem;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    color: #fff;
    background-color: #c6c6c6;
    border-radius: .7rem;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(.75);
    transform: scale(.75);
    color: #fff;
    background-color: #c6c6c6;
    right: -12px;
    top: -5px;
}
.topics_card .el-card{
    border: none;
    margin-bottom: 20px;
}
.topics_card .el-card .el-card__header{
    background: #fafafa;
    padding: 6px 15px;
    border-bottom:1px solid #eee;
    color: #777;
}
.topics_card .el-card .el-card__body{
    padding: 0;
}
.card_userinfo{
    
}
.card_userinfo .avatarinfo{
    width: 100%;
    padding: 30px 30px 0px 30px;
    border-bottom:1px solid #eee;
}
.card_userinfo .avatarinfo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.card_userinfo .avatarinfo a{
    display: block;
    margin: 10px auto;
    text-align: center;
}
.card_userinfo .avatarinfo span{
    display: block;
    margin: 0px auto;
    text-align: center;
}
.card_userinfo .social{
    padding: 10px 10px;
    display: flex;
    border-bottom:1px solid #eee;
}
.card_userinfo .social a{
    flex: 1;
    
}
.card_userinfo .social a i{
    font-size: 20px;
    display: block;
}
.card_userinfo .buttons{
    display: flex;
    padding: 10px;
}
.card_userinfo .buttons .el-button{
    flex: 1;
}
.card_userinfo .buttons .el-button i{
    font-size: 12px;
    margin-right: 5px;
}
.common_card .text a{
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    color: #333;
}
.common_card .text a:last-child{
    border: none;
}
.topics_share{
    position: fixed;
    margin-left: -80px;
    top: 200px;
}
.topics_share .options div{
    display: block;
    text-align: center;
    line-height: 40px;
    position: relative;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
    cursor: pointer;
}
.topics_share .options div i{
    color: #999;
    font-size: 18px;
}
.topics_share .options div:nth-child(1):hover i{
    color:#2d8cf0;
}
.topics_share .options div:hover i{
    color: #e76f3c;
}
.topics_share .options div.el-badge .el-badge__content{
    padding: .1rem .4rem;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    white-space: nowrap;
    color: #fff;
    background-color: #c6c6c6;
    border-radius: .7rem;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(.75);
    transform: scale(.75);
    color: #fff;
    background-color: #c6c6c6;
    right: -9px;
    top: -4px;
}
.topics_share .title{
    text-align: center;
    color: #000;
    margin-bottom: 10px;
}
.topics_share .share span{
    display: block;
    text-align: center;
    line-height: 40px;
    position: relative;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
    cursor: pointer;
}
.topics_share .share span i{
    color: #999;
    font-size: 18px;
}
.topics_share .share span:nth-child(1):hover i{
    color:#67c23a;
}
.topics_share .share span:nth-child(2):hover i{
    color:#f77c3d;
}
.topics_share .share span:nth-child(3):hover i{
    color:#fbc813;
}
.topics_share .share span:nth-child(4):hover i{
    color:#1da1f2;
}
.topics_share .share span:nth-child(5):hover i{
    color:#3b5998;
}
@media screen and (max-width: 1200px){
    .topics_hcontent,.login_content,.footer_content,.sites,.topics_id{
        width: 100%;
    }

}